.dpt-pt-widget .cf{*zoom:1;}
.dpt-pt-widget .cf:after{clear:both;}
.dpt-pt-widget .cf:before,.dpt-pt-widget .cf:after{content:" ";display:table;}
.dpt-pt-widget h4{margin-bottom:0.5em;}
.dpt-pt-widget select{background-color:#fff;}
.dpt-pt-widget .warning{color:#d21703;}
.dpt-pt-widget .section{margin-bottom:1.33em;border-bottom:1px solid #dfdfdf;}
.dpt-pt-widget .section .getemby{padding-bottom:1.333em;}
.dpt-pt-widget .display p:last-child{margin-bottom:1em;}
.dpt-pt-widget .display label{float:left;padding-top:0.4em;}
.dpt-pt-widget .display input{float:right;width:60px;text-align:right;}
.dpt-pt-widget .display select{float:right;width:120px;}
.dpt-pt-widget .check input{float:none;width:auto;}
.dpt-pt-widget .check label{float:none;padding-top:0.2em;}
.dpt-pt-widget .description{display:inline-block;padding-top:5px;font-size:80%;}
.dpt-pt-widget .templates p{margin:1.33em 0;}
